body {
margin: 0;
background-color: black;
}

main{
    margin: 1px;
    background-color: black;
    align-items: center;
}

#playBoardContainer{
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
  min-width: 660px;
  min-height: 660px;
}

#ladder-1 {
  position: absolute;
  right: 12%;
  top: 33%;
  z-index: 3;
  width: 34%;
  transform: rotate(-20deg);
}

#ladder-2{
  position: absolute;
  z-index: 3;
  right: 30.5%;
  top: 76%;
  width: 60px;
}

#ladder-3{
  position: absolute;
  z-index: 3;
  width: 80px;
  height: 350px;
  right: 79%;
  top: 24%;
  transform: rotate(23deg);
}

#snake-1-image {
  position: absolute;
  top: 7%;
  right: 20%;
  z-index: 4;
  transform: rotate(-50deg);
}

#snake-2-image {
  position: absolute;
  top: 63%;
  right: 48%;
  z-index: 4;
  transform: rotate(250deg);
}

#snake-3-image {
  position: absolute;
  top: 11%;
  right: 84%;
  z-index: 4;
}

#snake-4-image {
  position: absolute;
  top: 24%;
  right: 1%;
  z-index: 4;
  transform: scaleX(-1);
}

#play-again-btn,
#playButton {
  border-right: solid black 1px;
  font-size: 14px;
  color: white;
  line-height: 35px;
  background: -webkit-linear-gradient(top, #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  border-radius: 5px;
}

#play-again-btn:focus,
#playButton:focus{
  outline: none;
}

#playButton{
  position: absolute;
  right: 5%;
  top: 5%;
  width: 10%;
}

#checkbox {
  position: absolute;
  right: 14%;
  top: 12%;
}

#sound-checkbox {
  position: absolute;
  right: 14%;
  top: 15%;
}

#label{
  position: absolute;
  right: 10%;
  top: 12%;
  color: white;
}

#sound-label{
  position: absolute;
  right: 9%;
  top: 15%;
  color: white;
}

#play-again-btn:hover,
#playButton:hover {
  background: rgba(0, 0, 0, 0.5);
}

#you-win {
  display: none;
  background-color: rgba(49, 76, 124, 0.8);
  position: absolute;
  height: 30vw;
  width: 30vw;
  top: 20%;
  right: 20%;
  z-index: 6;
  border-radius: 8px;
  text-align: center;
  color: white;
}

#winner-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.position-absolute {
  position: absolute;
  z-index: 5;
}

.square{
  margin: 1px;
  position: relative;
  background-color: green;
  border: solid lightblue 1px;
  text-align: center;
  border-radius: 5px;
}

.squareNumber{
  padding: 2px;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  color: gold;
  border: solid gold 1px;
  border-radius: 50%;
  display: inline-block;
}

.counter {
  width: 70%;
  border-style: hidden;
  margin: auto;
  position: absolute;
  left: 5%;
  top: 8%;
  z-index: 4
}

.dice {
  position: absolute;
  left: 28%;
  top: 28%;
  z-index: 5;
  max-width: 130px;
}

.baloon{
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 30%;
}
