body {
background-color: yellow;
}

main{
    display: grid;
    grid-template-columns: repeat(10,8vmin);

    margin: auto;
    background-color: lightblue;
    align-items: center;
}

.square{
  position: relative;
  background-color: green;
  border: solid red 1px;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 9.5vmin;
}

.squareNumber{
  font-size: 28px;
  margin: auto;
  display: inline-block;
}

.counter {
  width: 70%;
  border-radius: 50%;
  margin: auto;
  border: double red 1px;
  position: absolute;
  left: 16%;
  top: 8%;
}
